@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* colores : verde oscuro( #218942 ) verde claro ( #77b943 )*/

:root {
    --color-verde-int: #00c339; /*color verde intenso*/
    --color-verde-int-rgba: rgba(0,195,57,0.6); /*color verde intenso con transparencia*/
    --color-verde-cla: #66ce00; /*color verde claro*/
    --color-osc: #18622f; /*color oscuro vida frutal*/
    --color-neutro-cla: #d8e6c2; /*color neutro claro*/
    --color-neutro-cla-rgba: rgba(216,230,194,0.6); /*color neutro claro con transparencia*/
    --color-verde: #a9b638; /*color secundario verde*/
    --color-tortilla: #e6dfcc; /*color beige*/
/* PALETA DE COLORES PARA SABORES*/
	
	--jamaica-hierbabuena: rgb(142,0,65);
	--lima: rgb(130,201,30);
	--pepino-limon: rgb(115,169,80);
	--horchata: rgb(227,201,160);
	--horchata-fresa: rgb(255,158,255);
	--tamarindo: rgb(181,113,60);
	--guayaba-fresa: rgb(232,76,124);
	--limon-chia: rgb(161,196,0);
	--limon-curcuma: rgb(212,177,40);
	--jamaica: rgb(196,30,58);
	--pina-alfalfa: rgb(201,180,88);
	--agua-natural: rgb(79,195,247);
	--kahlua: rgb(134,54,37);
    --te-helado: rgb(97,183,95);
    
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}


body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--color-verde-osc);
	
	transition: all 0.4s;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	background-image: linear-gradient(
		var(--color-verde-int-rgba),
		var(--color-neutro-cla)),
		url(images/4640.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 30vh;
	display: flex;
	align-items: center;

}

.header button {
	border-radius: 10px;
	cursor: pointer;
	font-size: 1em;
	padding: 10px;
	border: ;
	background: #0006;
	color: white;
}

.header button:hover{
	color: var(--color-verde-int);
}

.menu {
	position: absolute;
	top: 0;
	left: 15px;
	right: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu .navbar ul li {
	position: relative;
	float: left;
}

.menu .navbar ul li a {
	font-size: 26px;
	padding: 20px;
	color: rgb(0,0,0);
	display: block;
	font-weight: 600;
}

.menu .navbar ul li a:hover{
	color: var(--color-osc);
}

#menu {
	display: none;
}

.menu-icono {
	width: 25px;
}

.menu label {
	cursor: pointer;
	display: none;
}

.header-content {
	text-align: center;
}

.header-content p {
	background-image: linear-gradient(
		to right,
		rgba(33,137,66,0),
		rgba(33,137,66,0.7),
		rgba(33,137,66,0.7),
		rgba(33,137,66,0));
	font-size: 31px;
	color: #ffffff;
	padding: 15 200px;
	margin-bottom: 25px;
}

.btn-1 {
	display: inline-block;
	padding: 15px 35px;
	background-color: var(--color-osc); /*verde claro*/
	color: #F9FAFC;
	text-transform: uppercase;
	margin: 25px;
}

.btn-1:hover{
	background-color: var(--color-verde-cla);
	color: var(--color-osc);
}

.impresos {
	padding: 50px 0; /*reducir el relleno superior e inferior */
	position: relative;
	background: linear-gradient(var(--color-neutro-cla),rgb(215,252,196));
		
}

.logo-light {
	/*color: #FFFDFC;
	font-size: 25px;
	font-weight: 800;*/
	width: 200px;
	height: 200px;
}

.logo-dark {
	display: none;
}

.impresos-content h1 {
	margin: 100px;
	font-size: 75px;
	line-height: 80px;
	color: var(--color-verde-int);
	text-transform: uppercase;
	margin-bottom: 25px;
}




.impresos-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.impresos-content h2 {
	margin: 150px;
	font-size: 76px;
	line-height: 44px;
	color: var(--color-verde-int);
	text-transform: uppercase;	
	justify-content: space-between;
	margin-bottom: 30px;
}
.impresos-content h3 {
	color: var(--color-verde-int);
}

#txt-green {
	font-size: 24px;
	color: var(--color-verde-int); 
	margin: 4px 0 0 0;
}
#txt-claro {
	font-size: 24px;
	color: var(--color-neutro-cla); 
	margin: 20px;
}

.txt-p {
	font-size: 20px;
	color: var(--color-osc);
	padding: 0 100px;
	margin-bottom: 35px;
	text-align: justify;
}



.impresos-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	text-align: justify;
	
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 90%;
    margin: 0 auto;
}

.producto img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

.producto h3 {
    color: var(--color-verde-int);
    text-align: center;
    font-size: 28px;
    margin: 15px 0;
}

.producto p,
.producto li {
    text-align: justify;
    font-size: 18px;
	list-style-type: disc;
}




.services {
	background-image: linear-gradient(
	var(--color-verde-cla),
	rgba(0, 0, 0, 0.4)),
	url(images/2147920811.webp);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;	
}

.services-content {
	text-align: center;
}

.services-content h2 {
	font-size: 55px;
	line-height: 70px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 50px;
	letter-spacing: 5px;
}

.h2-content {
	background-image: linear-gradient(
	to right,
	rgba(33,137,66,0),
	rgba(33,137,66,0.6),
	rgba(33,137,66,0.6),
	rgba(33,137,66,0));
	
}

.services-content p {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 50px;
	padding: 0 100px;
}

.services-content #numero-telefono {
	font-size: 48px;
	color: #ffffff;
	margin-bottom: 15px;
}

.services-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.services-1 {
	padding: 15px;
	width: 33.33%;
	border-radius:15px;
	background-color:rgba(255,255,255,0);
	transition: all 0.5s ease;
}

.services-1 img {
	width: 33.33%;
	margin-bottom: 15px;
	transition: all 0.5s ease;
	cursor: pointer;
}
.services-1 h3 {
	color: var(--color-neutro-cla);
	font-size: 24px;
}

/* EFECTO DE COSQUILLEO PARA IMÁGENES*/
.services-1 img:hover {
	animation: tickle 0.5s ease;
	transform: scale(1.05);
	box-shadow: 0 8pb 16px rgba(0,0,0,0.2);
}

/*Definición de la animación de cosquilleo*/
@keyframes tickle {
	0% { transform: scale(1.05) rotate(0deg); }
	25% { transform: scale(1.05) rotate(-2deg); }
	50% { transform: scale(1.05) rotate(0deg); }
	75% { transform: scale(1.05) rotate(2deg); }
	100% { transform: scale(1.05) rotate(0deg); }
}

.services-1:hover {
	text-shadow: 0 0 10px black;
	text-decoration-color: var(--color-osc);
}


#jamaica-hierbabuena:hover {
	background-color: var(--jamaica-hierbabuena);

}
#lima:hover {
	background-color: var(--lima);
}


#pepino-limon:hover {
	background-color: var(--pepino-limon);
}

#horchata:hover {
	background-color: var(--horchata);
}

#tamarindo:hover {
	background-color: var(--tamarindo);
}

#guayaba-fresa:hover {
	background-color: var(--guayaba-fresa);
}

#pina-alfalfa:hover {
	background-color: var(--pina-alfalfa);
}


#limon-chia:hover {
	background-color: var(--limon-chia);
}

#limon-curcuma:hover {
	background-color: var(--limon-curcuma);
}

#jamaica:hover {
	background-color: var(--jamaica);
}

#agua-natural:hover {
	background-color: var(--agua-natural);
}

#horchata-fresa:hover {
	background-color: var(--horchata-fresa);
}

#kahlua:hover {
	background-color: var(--kahlua);
}

#te-helado:hover {
	background-color: var(--te-helado);
}


/*--------------------------------------------- ICONOS-------------------------------------------------- */





h2 {
	font-size: 55px;
	line-height: 70px;
	color: var(--color-osc);
	text-transform: uppercase;
	margin-bottom: 20px;
}

p {
	font-size: 20px;
	color: var(--color-osc);
	margin: 25px 0 45px 0;
}

.contacto {
	padding: 100px 0;
	text-align: center;
}

.contacto-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
}

.contacto-1 {
	padding: 15px; 
}

.contacto-1 img {
	width: 250px;
	border-radius: 15px;
	margin-bottom: 15px;
}

.contacto-1 h3 {
	font-size: 25px;
	color: var(--color-osc);
}

.footer {
	padding: 100px 0;
	background-color: #000000;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.link h3 {
	font-size: 18px;
	color: #F9FAFC;
	margin-bottom: 7px;
}

.link a {
	font-size: 16px;
	color: #C5C5C5;
	display: block;
	margin-bottom: 15px;
}


/*--------------------------------------MODO OSCURO-------------------------------------------------------------*/

body.darkmode{
	background-color: rgb(32,32,44);
	color: #ffffff;	
}
.darkmode .menu .navbar ul li a {
	color: #ffffff;
}
.darkmode .menu .navbar ul li a:hover {
	color: var(--color-verde-cla);
}
.darkmode #txt-green {
	color: #77b943;	
}

.darkmode .menu-icono {
	filter: invert(1); /*invierte los colores del svg*/
}

.darkmode .logo-dark {
	display: block;
	width: 200px;
	height: 200px;
}

.darkmode .logo-light {
	display: none;
}





.darkmode .header {
	background-image: linear-gradient(
	rgba(64,189,0,0.6),
	rgb(27,48,0)),
	url(images/4640.jpg);
}

.darkmode .impresos{
	background-color: rgb(32,32,44);
	background: linear-gradient(rgb(27,48,0), rgb(32,32,44));
} 
.darkmode .impresos-content h1 {
	color: #ffffff;
}
.darkmode .impresos h3{
	color: #77b943;
	
}
.darkmode .impresos h2 {
	color: white;
}

.darkmode .impresos p {
	color: white;
}

.darkmode .impresos-1 h3 {
	color: #77b943;
}
.darkmode .general-1 {
	background-color: rgb(40,40,50);
}
.darkmode .general-1 h2 {
	color: #77b943;
}
.darkmode .general-1 p {
	color: #ffffff;
}
.darkmode .contacto h2{
	color: #77b943;
}
.darkmode .contacto p{
	color: #ffffff;
}

.darkmode .contacto-1 h3{
	color: #77b943;
}


/*-----------------------------------------------
ESTILOS PARA 840 PX TABLETS---------------------------------------------------*/


@media(max-width:840px){
	
h1 {
	font-size: 36px;
	line-height: 50px;
	text-align: center;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
	text-align: center;
}

.menu .navbar ul li a {
	font-size: 20px;
}

table {
	padding: 10px 10px;
}

#txt-green {
	text-align: center;
}



.productos-grid {
	grid-template-columns: 1fr;
}

.producto img {
	max-width: 70%;
}


.container {
	margin-left: 20px;
	margin-right: 20px;
	
}
table img {
	width:80%;
}

.txt-p {
	padding: 0px;
}

.link h3 {
	font-size: 12px;
}



}

/* ---------------------------------Estilos para dispositivos móviles---------------------------------- */
@media(max-width:428px){
	
.menu {
	left: 5px;
	right: 5px;
	top: 10px;
	margin-bottom: 5px;
}
.header {
	min-height: 8vh;
}
	
.header button {
	font-size: 0.7em;
	padding: 2px;
}
	
.impresos-content h1 {
	display: none;
	margin: 25px;
	font-size: 46px;
	line-height: 46px;
}

#txt-green {
	display: none;
}

.menu .navbar ul li a {
	font-size: 13px;
	padding: 5px;
}

.impresos-content h2 {
	margin: 30px auto;
	font-size: 28px;
}
.txt-p
 {
	margin: 0;
	font-size: 16px;
}
.impresos-group {
	margin-bottom: 0px;
}

.impresos-1 h3 {
	margin: 0;
	font-size: 24px;
}

.impresos-1 p,
.impresos-1 li {
	font-size: 12px;
	margin: 5px 0;
}

.services {
	padding: 50px 0;
}
.services-1 {
	margin: 0vh;
}

.services-1 h3 {
	font-size: 14px;
}

.services-content h2 {
	font-size: 38px;
	margin-bottom: 15px;
}

.services-group {
	margin-bottom: 20px;
}

.services-1 img {
	width: 70%;
	margin-bottom: 5px;
}

.services-content p {
	padding: 0 20px;
	margin-bottom: 25px;
}

.services-content #numero-telefono {
	font-size: 32px;
}

.services-content #numero-telefono img {
	width: 26px;
}

.contacto {
		padding: 30px;
	}

.contacto-content {
	flex-direction: column;
}

.contacto-1 {
	padding: 0;
}
.contacto h2 {
	font-size: 40px;
}

.footer {
	padding: 30px;
}
.footer-content {
	flex-direction: column;
	text-align: center;
}
	
			
	
}

