@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* colores : verde oscuro( #218942 ) verde claro ( #77b943 )*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}


body {
	font-family: 'Montserrat', sans-serif;
	background-color: #edffe1;
	
	transition: all 0.4s;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	background-image: linear-gradient(
		rgba(215,252,196, 0),
		rgba(215,252,196, 0.4)),
		url(images/4640.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 70vh;
	display: flex;
	align-items: center;
}

.header button {
	border-radius: 10px;
	cursor: pointer;
	font-size: 1em;
	padding: 10px;
	border: ;
	background: transparent;
	color: black;
}

.header button:hover{
	color: #218942;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img {
	/*color: #FFFDFC;
	font-size: 25px;
	font-weight: 800;*/
	width: 180px;
	height: 180px;
	position: relative;
	top: 30px;
	
}

.menu .navbar ul li {
	position: relative;
	float: left;
}

.menu .navbar ul li a {
	font-size: 26px;
	padding: 20px;
	color: rgb(0,0,0);
	display: block;
	font-weight: 600;
}

.menu .navbar ul li a:hover{
	color: #218942;
}

#menu {
	display: none;
}

.menu-icono {
	width: 25px;
}

.menu label {
	cursor: pointer;
	display: none;
}

.header-content {
	text-align: center;
}

.header-content h1 {
	margin: 100px;
	font-size: 75px;
	line-height: 80px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.header-content p {
	background-image: linear-gradient(
		to right,
		rgba(33,137,66,0),
		rgba(33,137,66,0.7),
		rgba(33,137,66,0.7),
		rgba(33,137,66,0));
	font-size: 31px;
	color: #ffffff;
	padding: 15 200px;
	margin-bottom: 25px;
}

.btn-1 {
	display: inline-block;
	padding: 15px 35px;
	background-color: #77b943; /*verde claro*/
	color: #F9FAFC;
	text-transform: uppercase;
	margin: 25px;
}

.btn-1:hover{
	background-color: #77b943;
}

.impresos {
	padding: 50px 0; /*reducir el relleno superior e inferior */
	position: relative;
	background: linear-gradient(rgb(255,255,255),rgb(215,252,196));
		
}

.impresos-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.impresos-content h2 {
	margin: 214px;
	font-size: 76px;
	line-height: 44px;
	color: #218942;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.impresos-content h3 {
	color: #218942;
}

.txt-white {
	font-size: 28px;
	color:#ffffff;

}

.txt-p {
	font-size: 20px;
	color: #414247;
	padding: 0 100px;
	margin-bottom: 35px;
	text-align: justify;
}

.impresos-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	text-align: justify;
	
}

.impresos-1 {
	padding: 10px 40px;
	width: 33.33%;
}

.impresos-1 img {
	width: 100%;
	margin-bottom: 15px;
}

.impresos-img {
	position: absolute;
	top: 0;
	right: 0;

}

.impresos-1 h3 {
	color: #218942;
	font-size: 20px;
	margin-bottom: 15px;
}



.services {
	background-image: linear-gradient(
	rgb(215,252,196),
	rgba(0, 0, 0, 0.4)),
	url(images/2147920811.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;	
}

.services-content {
	text-align: center;
}

.services-content h2 {
	font-size: 55px;
	line-height: 70px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 50px;
	letter-spacing: 5px;
}

.h2-content {
	background-image: linear-gradient(
	to right,
	rgba(33,137,66,0),
	rgba(33,137,66,0.6),
	rgba(33,137,66,0.6),
	rgba(33,137,66,0));
	
}

.services-content p {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 50px;
	padding: 0 100px;
}

.services-content #numero-telefono {
	font-size: 48px;
	color: #ffffff;
	margin-bottom: 15px;
}


.services-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.services-1 {
	padding: 0 0px;
	width: 33.33%;
}

.services-1 img {
	width: 33.33%;
	margin-bottom: 15px;
}

.services-1 h3 {
	color: #ffffff;
	font-size. 24px;
}


/*--------------------------------------------- ICONOS-------------------------------------------------- */



.general {
	display: flex;
}

.general-1 {
	width: 50%;
	padding: 100px 250px 100px 100px;
	background-color: #F0F0F0;
}

.general-2 {
	background-image: url(images/lonas_viniles_ejemplo.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50%;
}

.general-3 {
	background-image: url(images/display_x_publicidad_2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50%;
}

h2 {
	font-size: 55px;
	line-height: 70px;
	color: #323337;
	text-transform: uppercase;
	margin-bottom: 20px;
}

p {
	font-size: 20px;
	color: #414247;
	margin: 25px 0 45px 0;
}

.contacto {
	padding: 100px 0;
	text-align: center;
}

.contacto-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
}

.contacto-1 {
	padding: 15px; 
}

.contacto-1 img {
	width: 250px;
	border-radius: 15px;
	margin-bottom: 15px;
}

.contacto-1 h3 {
	font-size: 25px;
	color: #323337;
}

.footer {
	padding: 100px 0;
	background-color: #000000;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}



.link h3 {
	font-size: 18px;
	color: #F9FAFC;
	margin-bottom: 7px;
}

.link a {
	font-size: 16px;
	color: #C5C5C5;
	display: block;
	margin-bottom: 15px;
}


/*--------------------------------------MODO OSCURO-------------------------------------------------------------*/

body.darkmode{
	background-color: rgb(32,32,44);
	color: #ffffff;	
}

.darkmode .impresos{
	background-color: rgb(32,32,44);
	background: linear-gradient(rgb(27,48,0), rgb(32,32,44));
} 
.darkmode .impresos h3{
	color: #77b943;
	
}
.darkmode .impresos h2 {
	color: white;
}

.darkmode .impresos p {
	color: white;
}

.darkmode .impresos-1 h3 {
	color: #77b943;
}
.darkmode .general-1 {
	background-color: rgb(40,40,50);
}
.darkmode .general-1 h2 {
	color: #77b943;
}
.darkmode .general-1 p {
	color: #ffffff;
}
.darkmode .contacto h2{
	color: #77b943;
}
.darkmode .contacto p{
	color: #ffffff;
}

.darkmode .contacto-1 h3{
	color: #77b943;
}


/*-----------------------------------------------ESTILOS PARA 991 PX TABLETS---------------------------*/




@media(max-width:991px){
	.menu {
		padding: 30px;
	}

	.menu label {
		display: initial;
	}
	.menu .navbar {
		position: absolute;
		top: calc(100% + 122px);/*Ajusta la posicón vertical*/
		left: 0;
		right: 0;
		background-color: #323337;
		display: none;
	}

	.menu .navbar ul li {
		width: 100%;
	}

	#menu:checked ~ .navbar {
		display: initial;
	}

	.header {
		min-height: 0vh;
	}

	.header-content {
		padding: 100px 30px;
	}

	.header-content p {
		padding: 0;
	}
	
	.header-content h1 {
		padding: 90px 15px;
		margin: 0 auto;
	}


	.impresos {
		padding: 30px;
		min-width: 360px;
	}
	.impresos-content {
		margin: 5px;
		align-items: center;
		text-align: center;
		
	}

	.impresos-content h2 {
		padding: 15px;
		margin: initial;
	}

	.txt-p {
		padding: 15px 15px;
		max-width: 360px;
		margin: 0 auto;
	}

	.impresos-group {
		margin-bottom: 0;
	}

	.impresos-img {
		display: none;
	}

	.impresos-1 {
		padding: 0 14px;
		
	}
	
	.services {
		padding: 30px;
	}

	.services-content p {
		padding: 0;
	}

	.services-group {
		margin-bottom: 0px;
	}

	.services-1 {
		margin-bottom: 25px;
	}

	.general {
		flex-direction: column;
	}

	.general-1 {
		width: 100%;
		padding: 30px;
		text-align: center;
	}

	.general-2, .general-3 {
		display: none;
	}

	.contacto {
		padding: 30px;
	}

	.contacto-content {
		flex-direction: column;
	}

	.contacto-1 {
		padding: 0;
	}

	.footer {
		padding: 30px;
	}
	.footer-content {
		flex-direction: column;
		text-align: center;
	}
}

/* ---------------------------------Estilos para dispositivos móviles---------------------------------- */
@media(max-width:375px){
	
	.menu {
		padding: 5;
	}

	.logo img {
		width: 80px;
		height: 80px;
	}
	.menu label {
		display: initial;
	}
	.menu .navbar {
		position: absolute;
		top: calc(100% + 109px);/*Ajusta la posicón vertical*/
		left: 0;
		right: 0;
		background-color: #323337;
		display: none;
	}

	.menu .navbar ul li {
		width: 100%;
		height: 49px;
	}

	#menu:checked ~ .navbar {
		display: initial;
	}

	.header {
		min-height: 0vh;
	}

	.header-content {
		padding: 30px 0;
	}

	.header-content p {
		padding: 0;
		font-size: 21px;
	}
	
	.header-content h1 {
		padding: 100px 0;
		margin: 0px auto;
		font-size: 25px;
	}


	.impresos {
		padding: 30px 5px;
		min-width: 360px;
	}
	.impresos-content {
		margin: 5px;
		align-items: center;
		text-align: center;
		
	}

	.impresos-content h2 {
		padding: 5px;
		margin: initial;
		font-size: 40px;
	}

	.txt-p {
		padding: 15px 0px;
		max-width: 360px;
		margin: 0 auto;
		font-size: 25px;
	}

	.impresos-group {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}
	
	

	.impresos-img {
		display: none;
	}

	.impresos-1 {
		padding: 0 0px;
		width: 95%;
	}
	
	.impresos-1 h3 {
		font-size: 40px;
		color: #01a913;
	}
	
	.impresos-1 p {
		font-size: 25px;
		color: #ffffff;
		
	}
	
	.impresos-1 img {
		display: none;
	}
	
	
	.impresos-group {
		background-image: linear-gradient(
		rgb(0,0,0,0.7),
		rgba(0,0,0,0.7)),
		url(images/mockups.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.services {
		padding: 30px;
	}
	
	
	.services-content p {
		padding: 0;
		font-size: 25px;
	}
	.services-content h2 {
		font-size: 40px;
		line-height: 45px;
		margin-bottom: 30px;		
	}

	.services-group {
		margin-bottom: 5px;		
	}

	.services-1 {
		margin-bottom: 5px;
	}
	
	.services-1 h3 {
		font-size: 14px;
	}
	.services-1 img {
		width: 50px;
		height: 50px;		
	}
	
	.services-content #numero-telefono {
		font-size: 30px;
	}
	
	.services-content #numero-telefono img {
		width: 34px;
		height: 34px; 
	}

	.general {
		flex-direction: column;
	}

	.general-1 {
		width: 100%;
		padding: 30px;
		text-align: center;
	}
	
	.general-1 h2 {
		font-size: 40px;
		line-height: 42px;
	}

	.general-2, .general-3 {
		display: none;
	}

	.contacto {
		padding: 30px;
	}

	.contacto-content {
		flex-direction: column;
	}

	.contacto-1 {
		padding: 0;
	}
	.contacto h2 {
		font-size: 40px;
	}

	.footer {
		padding: 30px;
	}
	.footer-content {
		flex-direction: column;
		text-align: center;
	}
}

